/*@media only screen and (max-width: 768px) {*/

@media only screen and (max-width: 960px) {

	.row {
		padding: 0 1%;
	}

	.main-h-box,
	.map-link-box,
	.page-name-links {
		display: none;
	}

	/*-- Header --*/

	.logo-box {
	    display: inline-block;
	    vertical-align: middle;
	}

	.header-left-col {
	    width: 30%;
	}

	.header-right-col {
	    width: 70%;
	}

	.tel-link {
	    font-size: 14px;
	    line-height: 25px;
	    margin: 0;
	}

	.mail-link {
		font-size: 16px;
	    line-height: 24px;
	}

	.contacts {
		width: 100%;
	}

	.header-right-col {
	    margin: -9px 0 0 0;
	}

	.contacts-list {
	    width: 77%;
	}

	.respmenubtn-box {
		display: inline-block;
		vertical-align: middle;
		width: 12%;
	}

	/*-- /Header --*/

	/*-- Main Page --*/

	.main-page-menu  {
	    width: 96%;
	}

	.page-h {
	    font-size: 30px;
	    line-height: 38px;
	    padding: 10px 0 20px 0;
	}


	/*--  Responsive menu Nav  --*/

	.page-content {
		width: 100%;
		padding: 0;
	    position: relative;
	    left: 0;
	}

	.menu-section {
		width: 59%;
    	display: none;
    	margin-right: -60%;
	}

	.menu-mob {
		display: none !important;
	}


}

@media only screen and (max-width: 700px) {

	.left-cell, .right-cell {
	    width: 7%;
	}

}

@media only screen and (max-width: 480px) {

	p {
	    padding: 20px 0;
	}

	ul {
		text-align: left;
	}

	ul.inner-nav {
    	text-align: center;
	}

	.page {
	    padding: 0;
	    text-align: center;
	}

	.header-left-col {
		display: inline-block;
    	vertical-align: middle;
	    width: 62%;
	}

	.header-right-col {
		display: inline-block;
    	vertical-align: middle;
	    width: 38%;
	}

	.contacts-list {
		display: none;
	}

	.respmenubtn-box {
	    position: relative;
	    right: 10%;
	}

	.contacts-responsive {
	    display: block;
	}

	.main-page-menu ul.main-page-menu-list .nav-item {
	    width: 100%;
	    text-align: center;
	}

	.main-page-menu .main-page-menu-list:before {
	    margin: 0 auto 15px auto;
	}

	.main-page-menu-list .nav-item:after {
	    margin: 14px auto;
	}

	.main-page-menu .main-page-menu-list:after {
	    margin: 12px auto 0 auto;
	}

	.bread-crumbs-section {
		display: none;
	}

	.page-h {
	    font-size: 22px;
	    line-height: 29px;
	    padding: 50px 0 10px 0;
	}

	.link-h-1 {
	    font-size: 18px;
	    line-height: 26px;
	}

	.card-box {
	    width: 50%;
	}


		/*--  Contacts Page  --*/

			.map-left-col {
			    display: block;
			    float: none;
			    width: 100%;
			}

			.map-right-col {
			    display: block;
			    float: none;
			    width: 100%;
			    min-height: 60px;
			}

			#map {
				height: 250px;
			}

			.show-map {
			    display: block;
			}

			.contacts-box h2 {
				text-align: center;
				padding: 10px 0;
			}

			.contacts-box p {
				padding: 5px 0;
			}

			.contacts-box .left-col,
			.contacts-box .right-col {
				display: block;
				width: 100%;
				text-align: left;
				padding: 10px 0;
			}

			.map-btn span:first-child {
			    margin: 13px 0 0 0;
			}

			.map-btn span:nth-child(2) {
			    top: -2px;
			}


		/*--  Contacts Page  --*/

		/*--  Responsive menu Nav  --*/

	.page {
	    overflow-x: none;
    	margin-top: 0;
	}

	.page-content {
		width: 100%;
		float: none;
	    position: relative;
	    left: 0 !important;
	}

	.inner-nav li:nth-child(1) {
		padding: 15px 0 0 0;
	}

	.menu-section {
		width: 100%;
		height: 0;
		overflow-y: hidden;
		float: none;
		text-align: center;
		position: relative;
    	right: 0 !important;
	}

	.menu-section ul {
		padding: 10px 0 0 0;
	}

	.menu-section .link-h-1 {
		margin: 10px 0;
	}

	.menu-section .nav-item,
	.menu-section .inner-nav {
	    padding: 2px 0 5px 0;
	    text-align: center;
	}

	.menu-section .inner-nav li:nth-child(1) {
	     padding: 0;
	}

	.menu-section .inner-nav li:nth-last-child(1) {
	     padding: 0 0 20px 0;
	}

	.menu-section:after,
	.menu-section .nav-item:after {
	    display: block;
	    content: "";
	    width: 96%;
	    height: 1px;
	    margin: 0;
	    float: none;

	    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.82) 45%, rgba(255,255,255,0.9) 55%, rgba(255,255,255,0) 100%);
	    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.82) 45%,rgba(255,255,255,0.9) 55%,rgba(255,255,255,0) 100%);
	    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.82) 45%,rgba(255,255,255,0.9) 55%,rgba(255,255,255,0) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );

	}

	.menu-section:before {
		display: none;
	}

	.menu-section .nav-item:last-child:after {
	    display: none;
	}

	.menu-tablet {
	    display: none !important;
	}

	.menu-mob {
		display: block !important;
	}

	.left-cell, .right-cell {
	    width: 4%;
	}


	/*--  /Responsive menu Nav  --*/

	/*--  Footer  --*/

	.footer {
		text-align: center;
	}

	p.copy-p {
		padding: 0;
	}

	/*--  /Footer  --*/

}
