@media only screen and (max-width: 768px) {

	.row {
		padding: 0 1%;
	}

	.main-h-box,
	.map-link-box,
	.page-name {
		display: none;
	}

	.logo-box {
	    display: inline-block;
	    vertical-align: middle;
	    /*width: 230px;*/
	}

	.logo-img {
	    /*width: 226px;*/
	}

	.header-left-col {
	    width: 30%;
	}

	.header-right-col {
	    width: 70%;
	}

	.tel-link {
	    font-size: 16px;
	    line-height: 25px;
	    margin: 0;
	}

	.contacts-list {
	    width: 90%;
	}

	.respmenubtn-box {
		display: inline-block;
		vertical-align: middle;
		/*width: 10%;*/
	}

	.center-position {
	    width: 96%;
	}

	.link-h {
	    margin: 40px 0;
	}

}


@media only screen and (max-width: 480px) {

	.header-left-col {
		display: inline-block;
    	vertical-align: middle;
	    text-align: right;
	    width: 70%;
	}

	.header-right-col {
		display: inline-block;
    	vertical-align: middle;
	    text-align: right;
	    width: 30%;
	}

	.logo-box {
	    /*width: 180px;*/
	}

	.logo-img {
		/*width: 170px;*/
	}

	.contacts-list {
		display: none;
	}

	.contacts-responsive {
	    display: block;
	}

	.center-position {
	    width: 100%;
	}

	.link-h {
	    margin: 20px 0;
	}

	.link-h-1 {
	    font-size: 18px;
	    line-height: 26px;
	}


}
