@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/


@font-face {
    font-family: "Circe Extra";
    src: url("fonts/Circe-ExtraBold.eot");
    src: url("fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Circe-ExtraBold.woff2") format("woff2"),
        url("fonts/Circe-ExtraBold.woff") format("woff"),
        url("fonts/Circe-ExtraBold.ttf") format("truetype"),
        url("fonts/Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Circe ExtraLight";
    src: url("fonts/Circe-ExtraLight.eot");
    src: url("fonts/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"),
        url("fonts/Circe-ExtraLight.woff2") format("woff2"),
        url("fonts/Circe-ExtraLight.woff") format("woff"),
        url("fonts/Circe-ExtraLight.ttf") format("truetype"),
        url("fonts/Circe-ExtraLight.svg#Circe-ExtraLight") format("svg");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Circe Bold";
    src: url("fonts/Circe-Bold.eot");
    src: url("fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Circe-Bold.woff2") format("woff2"),
        url("fonts/Circe-Bold.woff") format("woff"),
        url("fonts/Circe-Bold.ttf") format("truetype"),
        url("fonts/Circe-Bold.svg#Circe-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Circe Light";
    src: url("fonts/Circe-Light.eot");
    src: url("fonts/Circe-Light.eot?#iefix") format("embedded-opentype"),
        url("fonts/Circe-Light.woff2") format("woff2"),
        url("fonts/Circe-Light.woff") format("woff"),
        url("fonts/Circe-Light.ttf") format("truetype"),
        url("fonts/Circe-Light.svg#Circe-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("fonts/Circe-Regular.eot");
    src: url("fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/Circe-Regular.woff2") format("woff2"),
        url("fonts/Circe-Regular.woff") format("woff"),
        url("fonts/Circe-Regular.ttf") format("truetype"),
        url("fonts/Circe-Regular.svg#Circe-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}


/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: rgba(205, 149, 68, 1);
    color: #000000;
    font-family: "Circe",Arial, Verdana, sans-serif;
    font-size: 13px;
    line-height: 21px;
}

html,
body {
    height: 100%;
    min-width: 100%;
}

.wrapper {
    display: table; 
    height: 100%;
    min-width: 100%;


    background: -moz-linear-gradient(left,  rgba(131,131,133,0.8) 0%, rgba(156,137,114,0.8) 13%, rgba(192,149,85,0.8) 30%, rgba(224,159,61,0.8) 63%, rgba(253,167,38,0.8) 100%);
    background: -webkit-linear-gradient(left,  rgba(131,131,133,0.8) 0%,rgba(156,137,114,0.8) 13%,rgba(192,149,85,0.8) 30%,rgba(224,159,61,0.8) 63%,rgba(253,167,38,0.8) 100%);
    background: linear-gradient(to right,  rgba(131,131,133,0.8) 0%,rgba(156,137,114,0.8) 13%,rgba(192,149,85,0.8) 30%,rgba(224,159,61,0.8) 63%,rgba(253,167,38,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc838385', endColorstr='#ccfda726',GradientType=1 );

}

/*------------------*/

.wrapper:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;


    background-image: url(img/index_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*------------------*/

.content {
    position: relative;
    display: table-row;
    height: 100%;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }



::-webkit-input-placeholder {color:#ffffff;}
::-moz-placeholder          {color:#ffffff;}/* Firefox 19+ */
:-moz-placeholder           {color:#ffffff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#ffffff;}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}


/*.animation-delay {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
}*/


/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

.header,
.content {
    position: relative;
    z-index: 3;
}

.left {
    float: left;
}

.right {
    float: right;
}

section {
    position: relative;
}

h1 {

}

button {

}

/*h2 {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700px;
    color: #ffffff;
    text-transform: uppercase;
}
*/

h3 {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 25px;
    line-height: 28px;
    font-weight: 400px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 0;
}

p {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    padding: 10px 0;
}

li {
    list-style: none;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400px;
    color: #ffffff;
    padding: 3px 0;
}

li:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 7px;
    height: 1px;
    background: rgba(255, 255, 255, 1);
    margin: 0 1% 0 0;
}

a {
    text-decoration: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}
/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    display: block;
    max-width: 1280px;
    margin: 0 auto;
    /*padding: 0;*/
    padding: 0 1%;
}

*:focus {
    outline: none;
}

select::-ms-expand {
  display: none;
}


/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header {
    background-color: rgba(255, 255, 255, 1);
    font-size: 0;
    line-height: 0;
    padding: 20px 0;}

.header-left-col {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.logo-box {
    display: table;
}

.logo {
    display: table-cell;
}


.logo-link {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.logo-img {
    display: block;
    width: 100%;
    height: auto;
    /*------------------*/
    /*margin: -14px 0 0 0;*/
    /*------------------*/
}

.main-h-box {
    display: table-cell;
    padding: 0 0 0 5%;
}

.main-h-box h1 {
    display: inline-block;
    vertical-align: top;
    max-width: 210px;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 13px;
    line-height: 28px;
    font-weight: normal;
    color: #b1b1b1;
    text-transform: uppercase;
    margin: -6px 0 0 0;
}

.header-right-col {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: right;
    margin: -7px 0 0 0;
}

.contacts-list {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: right;
}

.contacts {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    padding: 0 1% 0 0;
}

.contacts li:before {
    display: none;
}

.contact-item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1%;
    text-align: center;
}

.contact-link {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin: 0 auto;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: normal;
    color: #b1b1b1;
    text-decoration: underline;
}

.tel-link {
    font-size: 14px;
    line-height: 25px;
    margin: 2px 0 0 0;
}

.mail-link {
    font-size: 16px;
    line-height: 25px;
}

.map-link-box {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 2%;
    border-left: 1px solid #b1b1b1;
}

.map-link {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
    color: #b1b1b1;
    text-decoration: underline;
}

.page-name {
    display: block;
    text-align: right;
}

.page-name h2 {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #b1b1b1;
    text-transform: uppercase;
    margin: 10px 0 5px 0;
}


/* ----- Responsive Menu Button ------ */

.respmenubtn-box {
    display: none;
    text-align: right;
    padding: 0 10px 0 0;
}

.respmenubtn {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}

.respmenubtn span {
    display: block;
    width: 20px;
    height: 4px;
    border: 1px solid #9e8587;
    background: rgba(158, 133, 135, 1);
    margin: 0 0 4px 0;

    -webkit-transition-property: border transform;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border transform;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border transform;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border transform;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.respmenubtn span:last-child {
    margin: 0;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn:hover span {
    border: 1px solid #eca536;
    background: rgba(236, 165, 54, 1);
}

.respmenubtn-active span respmenubtn-box {
    width: 30px;
    border: 1px solid #eca536;
    background: rgba(236, 165, 54, 1);
}

.respmenubtn-active span:last-child {
    display: none;
}

.respmenubtn-active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 5px 0 0 0;
}

.respmenubtn-active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: -4px;
}

.respmenubtn-active span {
    width: 30px;
}


/* ----- / Responsive Menu Button ------ */

/* ----- Responsive Contacts ------ */

.contacts-responsive {
    display: none;
    text-align: center;
    padding: 5px 0;
}

.contact-item:before {
    display: none;
}

.contacts-responsive .contact-link {
    color: #ffffff;
    margin: 5px 0;
    text-decoration: none;
}

.contacts-responsive:after {
    display: block;
    content: "";
    width: 90%;
    height: 1px;
    position: relative;
    margin: 0 auto;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 31%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 69%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.9) 69%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.9) 69%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}


/* ----- /Responsive Contacts ------ */

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

.content {
    position: relative;
    z-index: 2;

    font-size: 0;
    line-height: 0;

}

/* ----- BREAD CRUMBS ------ */

.bread-crumbs-section {
    width: 100%;
    /*padding: 10px 0;*/
}

.bread-crumbs-list {

}

.bread-crumb-item {
    display: inline-block;
    vertical-align: top;
    padding: 0 13px 0 0;
    list-style: none;
}

.bread-crumb-item:before {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    background: none;
    content: "/";
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 17px;
    font-weight: normal;
    color: #ffffff;
    padding: 0 13px 0 0;
}

.bread-crumb-item:first-child:before {
    display: none;
}

.bread-crumb-item a {
    display: inline-block;
    vertical-align: top;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 17px;
    font-weight: normal;
    color: #ffffff;
}


/* ----- PAGE CONTENT ------ */

.page {
    position: relative;
    margin-top: 50px;
    margin-left: 1%;
    margin-right: 1%;
}

.page-content {
    float: left;
    width: 62%;
    margin: 0 0 30px 0;
    padding: 0 4% 0 0;
}

.page-h {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 43px;
    line-height: 53px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 0;
}

.page-img img {
    width: 100%;
    height: auto;
}

.cards-secion {
    font-size: 0;
    line-height: 0;
}

.card-box {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    margin: 10px 0;
    padding: 2%;
    max-height: 165px;
}


.card-img-box {
    display: block;
    max-height: 130px;
    border: 1px solid #d2b4ac;
    background: transparent;
    padding: 23px 2px;
    text-align: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;

    -webkit-transition-property: background;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease;

}


.card-img-box:link,
.card-img-box:visited {
    background: transparent;
}

.card-img-box:hover {
    background: rgba(254, 150, 34, .7);
}

.card-img-box:active {
    background: rgba(254, 150, 34, .9);
}

.card-img-box img {
    display: block;
    height: 80px;
    width: auto;
    margin: 0 auto;
}

.card-h {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}




/* ----- /PAGE CONTENT ------ */


/* ----- NAVIGATION  Main Page ------ */


.main-page-menu  {
    display: block;
    width: 70%;
    float: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;

    -webkit-transition-property: margin-top;
    -webkit-transition-duration: .7s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: margin-top;
    -moz-transition-duration: .7s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: margin-top;
    -ms-transition-duration: .7s;
    -ms-transition-timing-function: ease;

    -o-transition-property: margin-top;
    -o-transition-duration: .7s;
    -o-transition-timing-function: ease;

    transition-property: margin-top;
    transition-duration: .7s;
    transition-timing-function: ease;

}

.main-page-menu  ul {
    font-size: 0;
    line-height: 0;
}

.main-page-menu ul:before,
.main-page-menu ul:after {
    display: block;
    content: "";
    width: 50%;
    height: 1px;
    margin: 0 auto;

    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.82) 45%, rgba(255,255,255,0.9) 55%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.82) 45%,rgba(255,255,255,0.9) 55%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.82) 45%,rgba(255,255,255,0.9) 55%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.main-page-menu ul:after {
    margin: 20px auto 0 auto;
}

.main-page-menu .nav-item {
    display: block;
    width: 100%;
    position: relative;
    padding: 35px 0 0 0;
}

.main-page-menu .nav-item:after {
    display: block;
    content: "";
    width: 90%;
    height: 1px;
    position: relative;
    margin: 20px auto 0 auto;

    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.82) 45%, rgba(255,255,255,0.9) 55%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.82) 45%,rgba(255,255,255,0.9) 55%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.82) 45%,rgba(255,255,255,0.9) 55%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );

}

.main-page-menu .inner-nav .nav-item:after {
    display: none;
}


.inner-nav-block {
    display: block;
    height: 0;
    overflow-y: hidden;
}

.inner-nav {
    display: block;
    height: auto;
    /*height: 0;*/
    /*overflow-y: hidden;*/
}

ul.inner-nav:before,
ul.inner-nav:after {
    display: none;
}



.main-page-menu .nav-item:last-child:after {
    display: none;
}

.main-page-menu li:before {
    display: none;
}

.link-h-desc {
    display: block;
    width: 60%;
    font-family: "Circe ExtraLight", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    margin: 0 auto;
    padding: 0 0 10px 0;
}

.link-h {
    display: inline-block;
    vertical-align: top;
    width: auto;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.link-h-1 {
    display: inline-block;
    vertical-align: top;
    width: auto;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.link-h-2 {
    display: inline-block;
    vertical-align: top;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    color: #ffffff;
    margin: 25px 0 10px 0;
}

.inner-nav {
    display: block;
    margin: 0 0 20px 0;
}

.inner-nav li {
    padding: 5px 0;
}

.inner-nav li a {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 15px;
    font-weight: normal;
    color: #ffffff;
}

/* ----- / NAVIGATION  Main Page ------ */



/* ----- NAVIGATION Right ------ */

.menu-section {
    display: block;
    float: right;
    width: 37%;
    text-align: right;
}


.menu-section:before,
.menu-section:after {
    display: block;
    content: "";
    width: 50%;
    height: 1px;
    float: right;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 31%, rgba(255,255,255,0.95) 50%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.95) 50%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.95) 50%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );

}

.menu-section:before {
    /*margin: 0 0 20px 0;*/
}

.menu-section:after {
    /*margin: 23px 0 0 0;*/
}

.menu-section ul li:before {
    display: none;
}

.menu-section .nav-item:after {
    display: block;
    content: "";
    width: 50%;
    height: 1px;
    float: right;
    margin: 10px 0 0 0;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 31%, rgba(255,255,255,0.95) 50%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.95) 50%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.95) 50%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

.menu-section .nav-item:last-child:after {
    display: none;
}

.menu-section .link-h-1 {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    color: #ffffff;
}

.menu-section .nav-item {
    /*padding: 20px 0 0 0;*/
    padding: 20px 0 10px 0;
}

/*.menu-section .nav-item .inner-nav {
    padding: 0 0 30px 0;
}*/

.page-main .link-h {
    margin: 0px 0 15px 0;
}


.page-main .menu-section {
    display: none;
}

/* ----- INNER SU PAGE ------ */

.quote {
    border-left: 1px solid #ffffff;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    padding: 0 0 0 3%;
    margin: 15px 0;
}



/*Slide*/


/*  /Slider Service  */

    .slider-block {
        font-size: 0;
        line-height: 0;
        padding: 30px 0 40px 0;
    }

    .slide-service {
        width: 100%;
        height: 465px;
        position: relative;
        overflow-y: hidden;
        background-color: rgba(255, 255, 255, .3);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;  
    } 

    .slide-description {
        display: block;
        background: rgba(0, 0, 0, .3);
        width: 100%;
        padding: 2% 9%;
        position: absolute;
        bottom: -100%;
        left: 0;
        font-family: "Circe", Arial, Verdana, sans-serif;
        font-size: 16px;
        line-height: 21px;
        font-weight: normal;
        font-style: italic;
        color: #ffffff;
        text-align: center;

        -webkit-transition-property: bottom;
        -webkit-transition-duration: .5s;
        -webkit-transition-timing-function: ease;

        -moz-transition-property: bottom;
        -moz-transition-duration: .5s;
        -moz-transition-timing-function: ease;

        -ms-transition-property: bottom;
        -ms-transition-duration: .5s;
        -ms-transition-timing-function: ease;

        -o-transition-property: bottom;
        -o-transition-duration: .5s;
        -o-transition-timing-function: ease;

        transition-property: bottom;
        transition-duration: .5s;
        transition-timing-function: ease;

    }

    .slide-service:hover .slide-description {
        bottom: 0;
    }

    .slider-miniatures-box {
        position: relative;
    }

    .service-miniatures {
        display: block;
        width: 100%;
        margin: 10px 0;
    }

    .service-miniatures .item img {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;

        -webkit-transition-property: width height border;
        -webkit-transition-duration: .3s;
        -webkit-transition-timing-function: ease;

        -moz-transition-property: width height border;
        -moz-transition-duration: .3s;
        -moz-transition-timing-function: ease;

        -ms-transition-property: width height border;
        -ms-transition-duration: .3s;
        -ms-transition-timing-function: ease;

        -o-transition-property: width height border;
        -o-transition-duration: .3s;
        -o-transition-timing-function: ease;

        transition-property: width height border;
        transition-duration: .3s;
        transition-timing-function: ease;

    }

    .service-miniatures .item img:hover {
        border: 2px solid #f99325;
    }

    .slider-miniatures-box .btn {
        display: block;
        width: 41px;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        cursor: pointer;
        z-index: 9;

        -webkit-transition-property: background;
        -webkit-transition-duration: .5s;
        -webkit-transition-timing-function: ease;

        -moz-transition-property: background;
        -moz-transition-duration: .5s;
        -moz-transition-timing-function: ease;

        -ms-transition-property: background;
        -ms-transition-duration: .5s;
        -ms-transition-timing-function: ease;

        -o-transition-property: background;
        -o-transition-duration: .5s;
        -o-transition-timing-function: ease;

        transition-property: background;
        transition-duration: .5s;
        transition-timing-function: ease;
    }

    .slider-miniatures-box .btn span {
        -webkit-transition-property: background;
        -webkit-transition-duration: .5s;
        -webkit-transition-timing-function: ease;

        -moz-transition-property: background;
        -moz-transition-duration: .5s;
        -moz-transition-timing-function: ease;

        -ms-transition-property: background;
        -ms-transition-duration: .5s;
        -ms-transition-timing-function: ease;

        -o-transition-property: background;
        -o-transition-duration: .5s;
        -o-transition-timing-function: ease;

        transition-property: background;
        transition-duration: .5s;
        transition-timing-function: ease;
    }

    .slider-miniatures-box .btn:link,
    .slider-miniatures-box .btn:visited {
        background: rgba(0, 0, 0, 0);
    }

    .slider-miniatures-box .btn:hover {
         background: rgba(0, 0, 0, .6);
    }

    .slider-miniatures-box .btn.active,
    .slider-miniatures-box .btn:active {
         background: rgba(0, 0, 0, .9);
    }

    .slider-miniatures-box .btn:link span,
    .slider-miniatures-box .btn:visited span {
        background: rgba(255, 255, 255, 1);
    }

    .slider-miniatures-box .btn:hover span {
        background: rgba(255, 255, 255, 1);
    }

    .slider-miniatures-box .btn.active span,
    .slider-miniatures-box .btn:active span {
        background: rgba(255, 255, 255, 1);
    }


    .prev {    
        left: 0;
    }

    .next {
        right: 0;
    }

    .btn > div {
        position: absolute;
        display: block;
        top: 50%;
        z-index: 9;
    }

    .prev > div {
        margin: -11px 0 0 11px;
    }

    .next > div {
        margin: 3px 0 0 13px;
    }

    .slider-miniatures-box .btn span {
        display: block;
        width: 20px;
        height: 2px;
        background:rgba(255, 255, 255, .8);
    }

    .slider-miniatures-box .btn.prev span:first-child {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: relative;
        top: 16px;
    }

    .slider-miniatures-box .btn.prev span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .slider-miniatures-box .btn.next span:first-child {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: relative;
        top: -12px;    
    }

    .slider-miniatures-box .btn.next span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

/*  /Slider Service  */


/*  Slider Partners  */

    .slider-partners-block {
        position: relative;
        padding: 20px 0;
    }

    .btn-partner {
        display: block;
        width: 41px;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        cursor: pointer;
        z-index: 9;

        -webkit-transition-property: background;
        -webkit-transition-duration: .5s;
        -webkit-transition-timing-function: ease;

        -moz-transition-property: background;
        -moz-transition-duration: .5s;
        -moz-transition-timing-function: ease;

        -ms-transition-property: background;
        -ms-transition-duration: .5s;
        -ms-transition-timing-function: ease;

        -o-transition-property: background;
        -o-transition-duration: .5s;
        -o-transition-timing-function: ease;

        transition-property: background;
        transition-duration: .5s;
        transition-timing-function: ease;
    }

    .slider-partners-block .btn-partner span {
        -webkit-transition-property: background;
        -webkit-transition-duration: .5s;
        -webkit-transition-timing-function: ease;

        -moz-transition-property: background;
        -moz-transition-duration: .5s;
        -moz-transition-timing-function: ease;

        -ms-transition-property: background;
        -ms-transition-duration: .5s;
        -ms-transition-timing-function: ease;

        -o-transition-property: background;
        -o-transition-duration: .5s;
        -o-transition-timing-function: ease;

        transition-property: background;
        transition-duration: .5s;
        transition-timing-function: ease;
    }

    .slider-partners-block .btn-partner:link,
    .slider-partners-block .btn-partner:visited {
        background: rgba(0, 0, 0, 0);
    }

    .slider-partners-block .btn-partner:hover {
         background: rgba(0, 0, 0, .6);
    }

    .slider-partners-block .btn-partner.active,
    .slider-partners-block .btn-partner:active {
         background: rgba(0, 0, 0, .9);
    }

    .slider-partners-block .btn-partner:link span,
    .slider-partners-block .btn-partner:visited span {
        background: rgba(255, 255, 255, 1);
    }

    .slider-partners-block .btn-partner:hover span {
        background: rgba(255, 255, 255, 1);
    }

    .slider-partners-block .btn-partner.active span,
    .slider-partners-block .btn-partner:active span {
        background: rgba(255, 255, 255, 1);
    }

    .btn-partner > div {
        position: absolute;
        display: block;
        top: 50%;
        z-index: 9;
    }

    .prev-partner > div {
        margin: -10px 0 0 10px;
    }

    .next-partner > div {
        margin: 4px 0 0 11px;
    }

    .prev-partner {
        left: 0;
    }

    .next-partner {
        right: 0;
    }

    .slider-partners-block .btn-partner > div span {
        display: block;
        width: 20px;
        height: 2px;
        background:rgba(255, 255, 255, .8);
    }

    .slider-partners-block .prev-partner span:first-child {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: relative;
        top: 16px;
    }

    .slider-partners-block .prev-partner span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .slider-partners-block .next-partner span:first-child {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: relative;
        top: -12px;    
    }

    .slider-partners-block .next-partner span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

/*  /Slider Partners  */

/*  Slider Modal Partners  */

    .modal-service-slider-box {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .8);
        z-index: 10;
    }

    .center-position-slider {
        display: block;
        max-width: 70%;
        max-height: 80%;
        margin: 0 auto;
    }

    .service-modal-slider {
  /*      display: block;
        width: 80%;
        margin: 0 auto;*/
    }

    .service-modal-slider .item img {
        display: block;
        width: 100%;
        height: auto;
    }

/*  /Slider Modal Partners  */

/*/Slide*/



/* ----- /INNER SU PAGE ------ */


/* ----- CCONTACTS PAGE ------ */

.page-content.contacts-page {
    width: 100%;
    padding: 30px 0 0 0;
}

.map-box {
    font-size: 0;
    line-height: 0;
    width: 100%;
}

.map-left-col {
    display: inline-block;
    vertical-align: top;
    width: 93%;
}

.map {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 0 20px 0;
}

.map-btn {
    display: block;
    float: right;
    width: 26px;
    height: 26px;
    cursor: pointer;
    border: 1px solid transparent;
    background: none;
    margin: -2px 0 0 0;
}

.map-btn span {
    display: block;
    width: 35px;
    height: 2px;
    background: rgba(255, 255, 255, .5);

    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.map-btn:link span,
.map-btn:visited span {
    background: rgba(255, 255, 255, .5);
}

.map-btn:hover span {
    background: rgba(255, 255, 255, 1);
}

.map-btn:active span {
    background: rgba(255, 255, 255, 1);
}



.map-btn span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 5px 0 0 0;
}

.map-btn span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: -2px;
}


.map-box .left-col,
.map-box .right-col {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.contacts-box {
    padding: 40px 0 0 0;
}

.map-box h2 {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 0 5px 0;
}

.map-box p,
.map-box ul li a {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
}

.map-box ul li:before {
    display: none;
}

.map-box ul li {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
    list-style: none;
}

.map-box ul li a {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: underline;
    margin: 0 0 0 1%;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.map-box ul li a:link,
.map-box ul li a:visited {
    color: #ffffff;
}

.map-box ul li a:hover {
    color: #2610f4;
}

.map-box ul li a:active {
    color: #2610f4;
}


.map-right-col {
    display: inline-block;
    vertical-align: top;
    width: 7%;
}


/* ----- /CCONTACTS PAGE ------ */


/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/


footer {
    
}

.footer {
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
    padding: 15px 0;
}

.footer-col-left {
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

.copy-p {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
}

