@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "Circe Bold";
    src: url("fonts/Circe-Bold.eot");
    src: url("fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Circe-Bold.woff2") format("woff2"),
        url("fonts/Circe-Bold.woff") format("woff"),
        url("fonts/Circe-Bold.ttf") format("truetype"),
        url("fonts/Circe-Bold.svg#Circe-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circe Light";
    src: url("fonts/Circe-Light.eot");
    src: url("fonts/Circe-Light.eot?#iefix") format("embedded-opentype"),
        url("fonts/Circe-Light.woff2") format("woff2"),
        url("fonts/Circe-Light.woff") format("woff"),
        url("fonts/Circe-Light.ttf") format("truetype"),
        url("fonts/Circe-Light.svg#Circe-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("fonts/Circe-Regular.eot");
    src: url("fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/Circe-Regular.woff2") format("woff2"),
        url("fonts/Circe-Regular.woff") format("woff"),
        url("fonts/Circe-Regular.ttf") format("truetype"),
        url("fonts/Circe-Regular.svg#Circe-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media all and (-webkit-min-device-pixel-ratio:0) {

    @font-face {
        font-family: "Circe";
        src: url("fonts/Circe-Regular.svg#Circe-Regular") format("svg");
        font-weight: normal;
        font-style: normal;
    }

     @font-face {
        font-family: "Circe Bold";
        src: url("fonts/Circe-Bold.svg#Circe-Bold") format("svg");
        font-weight: normal;
        font-style: normal;
    }

     @font-face {
        font-family: "Circe Light";
        src: url("fonts/Circe-Light.svg#Circe-Light") format("svg");
        font-weight: 300;
        font-style: normal;
    }

}


/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: rgba(205, 149, 68, 1);
    color: #000000;
    font-family: "Circe",Arial, Verdana, sans-serif;
    font-size: 13px;
    line-height: 21px;
}

html,
body {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}


/*@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}*/

body {
    /*font-smoothing: subpixel-antialiased !important;*/
/*    font-smoothing: antialiased !important;
    backface-visibility: hidden;
    backface-visibility:    hidden;
    backface-visibility:     hidden;*/
    /*-webkit-font-smoothing: subpixel-antialiased !important;*/
/*    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;*/
}

.wrapper {
    display: table;
    /*height: 100%;*/
    min-height: 100%;
    min-width: 100%;


    background: -moz-linear-gradient(left,  rgba(131,131,133,0.7) 0%, rgba(156,137,114,0.7) 13%, rgba(192,149,85,0.7) 30%, rgba(224,159,61,0.7) 63%, rgba(253,167,38,0.7) 100%);
    background: -webkit-linear-gradient(left,  rgba(131,131,133,0.7) 0%,rgba(156,137,114,0.7) 13%,rgba(192,149,85,0.7) 30%,rgba(224,159,61,0.7) 63%,rgba(253,167,38,0.7) 100%);
    background: linear-gradient(to right,  rgba(131,131,133,0.7) 0%,rgba(156,137,114,0.7) 13%,rgba(192,149,85,0.7) 30%,rgba(224,159,61,0.7) 63%,rgba(253,167,38,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc838385', endColorstr='#ccfda726',GradientType=1 );

}

/*------------------*/

.wrapper:before {
    display: block;
    content: "";
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;


    background-image: url(img/index_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-second:before {
    background-image: url(img/contacts_bg.jpg);
}

.bg-inner-su:before {
    background-image: url(img/inner_su_bg.jpg);
}

/*------------------*/

.content {
    position: relative;
    display: table-row;
    height: 100%;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }



::-webkit-input-placeholder {color:#ffffff;}
::-moz-placeholder          {color:#ffffff;}/* Firefox 19+ */
:-moz-placeholder           {color:#ffffff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#ffffff;}

.animation-delay {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
}


/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

.page-article {
    padding: 20px 0 0 0;
}

.header,
.content {
    position: relative;
    z-index: 3;
}

.left {
    float: left;
}

.right {
    float: right;
}

section {
    position: relative;
}

h1 {
    font-family: "Circe Bold", Arial, Verdana, sans-serif;
    font-size: 13px;
    line-height: 28px;
    font-weight: normal;
}

h2 {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}


h3 {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 25px;
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    padding: 35px 0 0 0;
}

.bold-txt {
    font-family: "Circe Bold", Arial, Verdana, sans-serif;
    font-weight: normal;
}

.adaptive-font-size {
    font-size: 24px;
    line-height: 28px;
}

p {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    padding: 10px 0;
}

ul {
    padding: 0 0 0 6%;
}

li {
    list-style: none;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400px;
    color: #ffffff;
    padding: 3px 0;
}

li:before {
    display: inline-block;
    vertical-align: top;
    content: "";
    width: 1.5%;
    height: 1px;
    background: rgba(255, 255, 255, 1);
    margin: 10px .5% 0 0;
}

li span {
    display: inline-block;
    vertical-align: top;
    width: 97%;
    padding: 0 0 0 2.5%;
}

a {
    text-decoration: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}
/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    display: block;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
}

.novisible {
    display: none !important;
}

.active-item-menu {
    opacity: 1 !important;
}

.active-item-menu .inner-nav-block {
    height: auto !important;
}

*:focus {
    outline: none;
}

select::-ms-expand {
  display: none;
}


/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header {
    background-color: rgba(255, 255, 255, 1);
    font-size: 0;
    line-height: 0;
    padding: 23px 0 10px 0;
}

.header-left-col {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.logo-box {
    display: table;
}

.logo {
    display: table-cell;
}


.logo-link {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.logo-img {
    display: block;
    width: 282px;
    height: auto;
}

.main-h-box {
    display: table-cell;
    padding: 0 0 0 5%;
}

.header-h {
    display: inline-block;
    vertical-align: top;
    max-width: 210px;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: #b1b1b1;
    text-transform: uppercase;
}

.header-right-col {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    text-align: right;
    margin: -7px 0 0 0;
}

.contacts-list {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: right;
}

.contacts {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    padding: 0 1% 0 0;
}

.contacts li:before {
    display: none;
}

.contact-item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1%;
    text-align: center;
}

.contact-link {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin: 0 auto;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #b1b1b1;
    border-bottom: 1px solid #b1b1b1;
}

.tel-link {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 14px;
    margin: 3px 0 0 0;
}

.mail-link {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 16px;
}

.map-link-box {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 2%;
    border-left: 1px solid #b1b1b1;
}

.map-link {
    display: inline-block;
    vertical-align: middle;
    height: 17px;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    color: #b1b1b1;
    border-bottom: 1px solid #b1b1b1;
    margin: 2px 0 0 0;
    /*border-left: 1px solid #b1b1b1;*/
}

.contact-link,
.map-link {

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.contact-link:link,
.map-link:link,
.contact-link:visited,
.map-link:visited {
    border-bottom: 1px solid #b1b1b1;
}

.contact-link.active,
.map-link.active,
.contact-link:active,
.map-link:active {
    border-bottom: 1px solid transparent;
}

.contact-link:hover,
.map-link:hover {
    border-bottom: 1px solid transparent;
}

.page-name-links {
    display: block;
    text-align: right;
}

.page-name-links-list {
    text-align: right;
}

.page-name-item {
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding: 0 0 0 20px;
    text-align: right;
    margin: 10px 0 0 0;
}

.page-name-item:before {
    display: none;
}

.page-name-link {
    font-family: "Circe Bold", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: #818286;
    text-transform: uppercase;
    padding: 0;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.page-name-link:link,
.page-name-link:visited {
    color: #818286;
}

.page-name-link:hover {
    color: #fe9622;
}

.page-name-link.active {
    color: #fe9622;
}


.page-name-link:active {
    color: #fe9622;
}


/* ----- Responsive Menu Button ------ */

.respmenubtn-box {
    display: none;
    text-align: right;
}

.respmenubtn {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}

.respmenubtn span {
    display: block;
    width: 20px;
    height: 4px;
    border: 1px solid #939496;
    background: rgba(147, 148, 150, 1);
    margin: 0 0 4px 0;

    -webkit-transition-property: border transform;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border transform;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border transform;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border transform;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.respmenubtn span:last-child {
    margin: 0;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn:hover span {
    border: 1px solid #eca536;
    background: rgba(236, 165, 54, 1);
}

.respmenubtn-active span respmenubtn-box {
    width: 30px;
    border: 1px solid #eca536;
    background: rgba(236, 165, 54, 1);
}

.respmenubtn-active span:last-child {
    display: none;
}

.respmenubtn-active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 5px 0 0 0;
}

.respmenubtn-active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: -4px;
}

.respmenubtn-active span {
    width: 30px;
}


/* ----- / Responsive Menu Button ------ */

/*-------------------------------------------*/
/* ----- / HEADER ------ */
/*-------------------------------------------*/

/* ----- Responsive Contacts ------ */

.contacts-responsive {
    display: none;
    text-align: center;
    padding: 5px 0;
}

.contacts-responsive ul {
    padding: 2px 0;
}

.contact-item:before {
    display: none;
}

.contacts-responsive .contact-link {
    color: #ffffff;
    margin: 5px 0;
    text-decoration: none;
}

.contacts-responsive:after {
    display: block;
    content: "";
    width: 90%;
    height: 1px;
    position: relative;
    margin: 0 auto;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 31%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 69%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.9) 69%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.9) 69%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}


/* ----- /Responsive Contacts ------ */

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

.content {
    position: relative;
    z-index: 2;

    font-size: 0;
    line-height: 0;

}

/* ----- BREAD CRUMBS ------ */

.bread-crumbs-section {
    width: 100%;
}

.bread-crumbs-list {
    padding: 0;
}

.bread-crumb-item {
    display: inline-block;
    vertical-align: top;
    padding: 0 13px 7px 0;
    list-style: none;
}

.bread-crumb-item:before {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    background: none;
    content: "/";
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 17px;
    font-weight: normal;
    color: #ffffff;
    margin: 0 15px 0 0;
}

.bread-crumb-item:first-child:before {
    display: none;
}

.bread-crumb-item a {
    display: inline-block;
    vertical-align: top;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 17px;
    font-weight: normal;
    color: #ffffff;
    opacity: .7;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;

}


.bread-crumb-item a:link,
.bread-crumb-item a:visited {
    opacity: .7;
}

.bread-crumb-item a:hover {
    opacity: 1;
}

.bread-crumb-item a.active {
    opacity: 1;
}

.bread-crumb-item a:active {
    opacity: 1;
}


/* ----- PAGE CONTENT ------ */

.page {
    position: relative;
    margin-top: 70px;
    margin-bottom: 70px;
}

.page-main .page {
    margin-bottom: 0;
}

.page-content {
    float: left;
    width: 62%;
    margin: 0 0 30px 0;
    padding: 0 4% 0 0;
}


/*--------------------*/

.close-su-page-box {
    display: none;
    width: 100%;
    height: 1px;
    position: relative;
}

.close-su-page-btn {
    display: block;
    position: absolute;
    top: 31px;
    right: 0;
    width: 36px;
    height: 30px;
    cursor: pointer;
    border: 1px solid transparent;
    background: none;
}

.close-su-page-btn span {
    display: block;
    width: 35px;
    height: 2px;
    background: rgba(255, 255, 255, .5);

    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.close-su-page-btn:link span,
.close-su-page-btn:visited span {
    background: rgba(255, 255, 255, .5);
}

.close-su-page-btn:hover span {
    background: rgba(255, 255, 255, 1);
}

.close-su-page-btn:active span {
    background: rgba(255, 255, 255, 1);
}



.close-su-page-btn span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 13px 0 0 0;
}

.close-su-page-btn span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: -2px;
}

/*-----------------------------*/

.page-h {
    font-family: "Circe Bold", Arial, Verdana, sans-serif;
    font-size: 43px;
    line-height: 53px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 0 30px 0;
}

.page-img img {
    width: 100%;
    height: auto;
    margin: 10px 0;
}

.cards-secion {
    font-size: 0;
    line-height: 0;
    width: 102%;
    margin: 0 0 0 -2%;
}

.card-box {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    margin: 10px 0;
    padding: 2%;
    max-height: 165px;
    text-align: center;
}

.card-img-box {
    display: block;
    max-height: 130px;
    border: 1px solid rgba(255, 255, 255, .5);
    padding: 23px 2px;
    text-align: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;

    -webkit-transition-property: border;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: 0.3s;
    transition-timing-function: ease;

}

.card:link .card-img-box,
.card:visited .card-img-box {
    border: 1px solid rgba(255, 255, 255, .5);
}

.card:hover .card-img-box {
    border: 1px solid rgba(255, 255, 255, 1);
}

.card:active .card-img-box {
    border: 1px solid rgba(255, 255, 255, 1);
}

.card-img-box img {
    display: block;
    height: 80px;
    width: auto;
    margin: 0 auto;
}

.card-h {
    display: inline-block;
    vertical-align: top;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    text-transform: none;
    margin: 11px 0;
    padding: 0;
    border-bottom: 1px solid transparent;

    -webkit-transition-property: border-bottom;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border-bottom;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border-bottom;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border-bottom;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border-bottom;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.card .card-h:link,
.card .card-h:visited {
    border-bottom: 1px solid transparent;
}

.card .card-h.active,
.card .card-h:active {
    border-bottom: 1px solid #ffffff;
}

.card .card-h:hover {
    border-bottom: 1px solid #ffffff;
}


.h-2 {
    padding: 25px 0 10px 0;
}


/* ----- /PAGE CONTENT ------ */


/* ----- NAVIGATION  Main Page ------ */

.main-page-menu  {
    display: block;
    width: 100%;
    float: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;

    -webkit-transition-property: margin-top;
    -webkit-transition-duration: .7s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: margin-top;
    -moz-transition-duration: .7s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: margin-top;
    -ms-transition-duration: .7s;
    -ms-transition-timing-function: ease;

    -o-transition-property: margin-top;
    -o-transition-duration: .7s;
    -o-transition-timing-function: ease;

    transition-property: margin-top;
    transition-duration: .7s;
    transition-timing-function: ease;

}

.table-box {
    display: table;
    width: 100%;
}

.left-cell,
.right-cell {
    display: table-cell;
    vertical-align: middle;
    width: 15%;
    height: auto;
}

.main-page-menu ul {
    padding: 0;
}

.main-page-menu-list {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: auto;
    font-size: 0;
    line-height: 0;
    padding: 0;
}

.main-page-menu-list .link-h-1 {
    font-family: "Circe Bold", Arial, Verdana, sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: normal;
    color: #ffffff;
}

.main-page-menu .main-page-menu-list:before,
.main-page-menu .main-page-menu-list:after {
    display: block;
    content: "";
    width: 50%;
    height: 1px;

    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.82) 45%, rgba(255,255,255,0.9) 55%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.82) 45%,rgba(255,255,255,0.9) 55%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.82) 45%,rgba(255,255,255,0.9) 55%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.main-page-menu .main-page-menu-list:before {
    margin: 0 auto 35px auto;
}

.main-page-menu .main-page-menu-list:after {
    margin: 30px auto 0 auto;
}

.main-page-menu-list .nav-item {
    display: block;
    width: 100%;
    position: relative;
}

.main-page-menu-list .nav-item:after {
    display: block;
    content: "";
    width: 90%;
    height: 1px;
    position: relative;
    margin: 30px auto;

    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.82) 45%, rgba(255,255,255,0.9) 55%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.82) 45%,rgba(255,255,255,0.9) 55%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.82) 45%,rgba(255,255,255,0.9) 55%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );

}

.main-page-menu-list .inner-nav .nav-item:after {
    display: none;
}

.inner-nav-block {
    display: block;
    height: 0;
    overflow-y: hidden;
}

.inner-nav {
    display: block;
    height: auto;
}

.inner-nav li:nth-child(1) {
    padding: 20px 0 0 0;
}

.main-page-menu-list.inner-nav:before,
.main-page-menu-list.inner-nav:after {
    display: none;
}

.main-page-menu-list .nav-item:last-child:after {
    display: none;
}

.main-page-menu-list li:before {
    display: none;
}

.page-menu-hover-block {
    display: block;
    width: 73%;
    overflow: hidden;
    height: 0;
    margin: 0 auto;
}

.page-menu-hover-block a.link-h-desc {
    display: block;
    width: 100%;
    cursor: pointer;
    font-family: "Circe ExtraLight", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    margin: 25px 0 5px 0;
}

.link-h {
    display: inline-block;
    vertical-align: top;
    width: auto;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.link-h-1 {
    display: inline-block;
    vertical-align: top;
    width: auto;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.link-h-2 {
    display: inline-block;
    vertical-align: top;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
}

.inner-nav {
    display: block;
}

.inner-nav li {
    padding: 5px 0;
}

.inner-nav li a {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
}

.inner-nav li a.active {
    opacity: 1;
}

/* ----- / NAVIGATION  Main Page ------ */



/* ----- NAVIGATION Right ------ */

.menu-section {
    display: block;
    float: right;
    width: 37%;
    text-align: right;
}


.menu-section:before,
.menu-section:after {
    display: block;
    content: "";
    width: 90%;
    height: 1px;
    float: right;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 31%, rgba(255,255,255,0.95) 50%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.95) 50%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.95) 50%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );

}

.menu-section:before {
    margin: 0 0 15px 0;
}

.menu-section:after {
    margin: 15px 0 0 0;
}

.menu-section ul li:before {
    display: none;
}

.menu-section .nav-item {
    margin: 0;
    padding: 0;
    opacity: .7;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .2s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .2s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .2s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .2s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: ease;
}

.menu-section .nav-item .link-h,
.menu-section .inner-nav li a {
    opacity: .7;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .2s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .2s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .2s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .2s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: ease;
}

.menu-section .nav-item.active .link-h,
.menu-section .nav-item:active .link-h {
    opacity: 1;
}

.menu-section .nav-item:hover .link-h {
    opacity: 1;
}


.menu-section .inner-nav li a:link,
.menu-section .inner-nav li a:visited {
    opacity: .7;
}

.menu-section .inner-nav li a:active,
.menu-section .inner-nav li a.active {
    opacity: 1;
}

.menu-section .inner-nav li a:hover {
    opacity: 1;
}


.menu-section .nav-item.active-item-menu .link-h {
    opacity: 1;
}



.menu-section .nav-item:after {
    display: block;
    content: "";
    width: 90%;
    height: 1px;
    float: right;
    margin: 14px 0 18px 0;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 31%, rgba(255,255,255,0.95) 50%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.95) 50%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.95) 50%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

.menu-section .nav-item:last-child:after {
    display: none;
}

.menu-section .link-h-1 {
    font-family: "Circe Bold", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    color: #ffffff;
    padding: 0;
}

ul.menu-section-list {
    text-align: right;
    padding: 0;
}

.menu-section-list .nav-item {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: right;
}

.page-main .menu-section {
    display: none;
}

/*-- Menu 320 --*/

.menu-mob {
    display: none;
}

/*-- Menu /320 --*/

/* ----- INNER SU PAGE ------ */

.quote {
    padding: 10px 0 10px 3%;
    margin: 5px 0;
}

.scobe {
    display: block;
    position: absolute;
    margin: 0 0 0 -3%;
}

.scobe img {
    display: block;
    width: 8px;
    height: auto;
}

/*Slide*/


/*  /Slider Service  */


    .slider-block {
        font-size: 0;
        line-height: 0;
        padding: 30px 0 40px 0;
    }

    .slide-service {
        width: 100%;
        /*height: 465px;*/
        position: relative;
        overflow-y: hidden;
        background-color: rgba(255, 255, 255, .3);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .responsive-show-tab {
        display: none;
        width: 100%;
        cursor: pointer;
        background: rgba(0, 0, 0, .5);
    }

    .responsive-show-tab .show-txt {
        display: inline-block;
        vertical-align: middle;
        font-family: "Circe", Arial, Verdana, sans-serif;
        font-size: 16px;
        line-height: 21px;
        font-weight: normal;
        font-style: italic;
        color: #ffffff;
        padding: 10px 0;
    }

    .responsive-show-tab img {
        width: 14px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 3%;
    }

    .arrow-desc {
        -webkit-transition-property: transform;
        -webkit-transition-duration: .3s;
        -webkit-transition-timing-function: ease;

        -moz-transition-property: transform;
        -moz-transition-duration: .3s;
        -moz-transition-timing-function: ease;

        -ms-transition-property: transform;
        -ms-transition-duration: .3s;
        -ms-transition-timing-function: ease;

        -o-transition-property: transform;
        -o-transition-duration: .3s;
        -o-transition-timing-function: ease;

        transition-property: transform;
        transition-duration: .3s;
        transition-timing-function: ease;
    }

    .arrow-desc.up {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    .slider-for .item {
        width: 100%;
        height: auto;
        overflow-y: hidden;
    }

    .slider-for .item img {
        display: block;
        width: 100%;
        height: auto;
    }

    .slide-description {
        display: block;
        background: rgba(0, 0, 0, .5);
        width: 100%;
        height: auto;
        padding: 2% 9%;
        position: absolute;
        bottom: -100%;
        left: 0;
        font-family: "Circe", Arial, Verdana, sans-serif;
        font-size: 16px;
        line-height: 21px;
        font-weight: normal;
        font-style: italic;
        color: #ffffff;
        text-align: center;

        -webkit-transition-property: bottom;
        -webkit-transition-duration: .5s;
        -webkit-transition-timing-function: ease;

        -moz-transition-property: bottom;
        -moz-transition-duration: .5s;
        -moz-transition-timing-function: ease;

        -ms-transition-property: bottom;
        -ms-transition-duration: .5s;
        -ms-transition-timing-function: ease;

        -o-transition-property: bottom;
        -o-transition-duration: .5s;
        -o-transition-timing-function: ease;

        transition-property: bottom;
        transition-duration: .5s;
        transition-timing-function: ease;

    }

    .slide-service:hover .slide-description {
        bottom: 0;
    }

    .slick-slider-width {
        display: block;
        width: 100%;
        overflow: hidden;
    }

    .slider-miniatures-box {
        display: block;
        position: relative;
        z-index: 10;
        overflow: hidden !important;
        width: 100%;
    }

    .service-miniatures {
        display: block;
        width: auto;
        white-space: nowrap;
        font-size: 0;
        line-height: 0;
    }

    .service-miniatures .item {
        display: block;
        float: left;
        width: 110px;
        height: auto;
        padding: 10px 5px;
    }

    .service-miniatures .item img {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        border: 2px solid transparent;

        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;

        -webkit-transition-property: width height border;
        -webkit-transition-duration: .3s;
        -webkit-transition-timing-function: ease;

        -moz-transition-property: width height border;
        -moz-transition-duration: .3s;
        -moz-transition-timing-function: ease;

        -ms-transition-property: width height border;
        -ms-transition-duration: .3s;
        -ms-transition-timing-function: ease;

        -o-transition-property: width height border;
        -o-transition-duration: .3s;
        -o-transition-timing-function: ease;

        transition-property: width height border;
        transition-duration: .3s;
        transition-timing-function: ease;

    }

    .service-miniatures .item img:hover {
        border: 2px solid #f99325;
    }

    .slider-miniatures-box .btn {
        display: block;
        width: 41px;
        height: 100%;
        /*background: rgba(0, 0, 0, 0);*/
        position: absolute;
        top: 0;
        cursor: pointer;
        z-index: 9;

        -webkit-transition-property: background;
        -webkit-transition-duration: .5s;
        -webkit-transition-timing-function: ease;

        -moz-transition-property: background;
        -moz-transition-duration: .5s;
        -moz-transition-timing-function: ease;

        -ms-transition-property: background;
        -ms-transition-duration: .5s;
        -ms-transition-timing-function: ease;

        -o-transition-property: background;
        -o-transition-duration: .5s;
        -o-transition-timing-function: ease;

        transition-property: background;
        transition-duration: .5s;
        transition-timing-function: ease;
    }

    .slider-miniatures-box .btn span {
        -webkit-transition-property: background;
        -webkit-transition-duration: .5s;
        -webkit-transition-timing-function: ease;

        -moz-transition-property: background;
        -moz-transition-duration: .5s;
        -moz-transition-timing-function: ease;

        -ms-transition-property: background;
        -ms-transition-duration: .5s;
        -ms-transition-timing-function: ease;

        -o-transition-property: background;
        -o-transition-duration: .5s;
        -o-transition-timing-function: ease;

        transition-property: background;
        transition-duration: .5s;
        transition-timing-function: ease;
    }

/*    .slider-miniatures-box .btn:link,
    .slider-miniatures-box .btn:visited {
        background: rgba(0, 0, 0, 0);
    }

    .slider-miniatures-box .btn:hover {
         background: rgba(0, 0, 0, .6);
    }

    .slider-miniatures-box .btn.active,
    .slider-miniatures-box .btn:active {
         background: rgba(0, 0, 0, .9);
    }*/

    .slider-miniatures-box .btn:link span,
    .slider-miniatures-box .btn:visited span {
        background: rgba(255, 255, 255, .7);
    }

    .slider-miniatures-box .btn:hover span {
        background: rgba(255, 255, 255, 1);
    }

    .slider-miniatures-box .btn.active span,
    .slider-miniatures-box .btn:active span {
        background: rgba(255, 255, 255, 1);
    }


    .prev {    
        left: 0;
    }

    .next {
        right: 0;
    }

    .btn > div {
        position: absolute;
        display: block;
        top: 50%;
        z-index: 9;
    }

    .prev > div {
        margin: -11px 0 0 11px;
    }

    .next > div {
        margin: 3px 0 0 13px;
    }

    .slider-miniatures-box .btn span {
        display: block;
        width: 20px;
        height: 2px;
        background:rgba(255, 255, 255, .8);
    }

    .slider-miniatures-box .btn.prev span:first-child {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: relative;
        top: 16px;
    }

    .slider-miniatures-box .btn.prev span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .slider-miniatures-box .btn.next span:first-child {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: relative;
        top: -12px;    
    }

    .slider-miniatures-box .btn.next span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

/*    .service-miniatures .slick-slide
    {
        width: 100px !important;
    }*/

/*  /Slider Service  */


/*  Slider Partners  */

    .our-partners-slider {
        display: block;
        width: 100%;
        position: relative;
        font-size: 0;
        line-height: 0;
    }

    .slider-partners-block {
        /*display: block;*/
        /*display: inline-block;*/
        display: table-cell;
        vertical-align: middle;
        /*width: 100%;*/
        width: 88%;
        position: relative;
        padding: 20px 0;
        overflow: hidden;
    }

    .slider-partners {
        display: block;
        width: auto;
        white-space: nowrap;
    }

    .slider-partners .item {
        display: block;
        float: left;
        width: 110px;
        padding: 10px 5px;
        text-align: center;
    }

    .our-partners-slider .btn-partner {
        display: table-cell;
        vertical-align: middle;
        width: 6%;
        height: 100%;
        /*background: rgba(0, 0, 0, 0);*/
        cursor: pointer;
        z-index: 9;

        -webkit-transition-property: background;
        -webkit-transition-duration: .5s;
        -webkit-transition-timing-function: ease;

        -moz-transition-property: background;
        -moz-transition-duration: .5s;
        -moz-transition-timing-function: ease;

        -ms-transition-property: background;
        -ms-transition-duration: .5s;
        -ms-transition-timing-function: ease;

        -o-transition-property: background;
        -o-transition-duration: .5s;
        -o-transition-timing-function: ease;

        transition-property: background;
        transition-duration: .5s;
        transition-timing-function: ease;
    }

    .our-partners-slider .btn-partner span {
        -webkit-transition-property: background;
        -webkit-transition-duration: .5s;
        -webkit-transition-timing-function: ease;

        -moz-transition-property: background;
        -moz-transition-duration: .5s;
        -moz-transition-timing-function: ease;

        -ms-transition-property: background;
        -ms-transition-duration: .5s;
        -ms-transition-timing-function: ease;

        -o-transition-property: background;
        -o-transition-duration: .5s;
        -o-transition-timing-function: ease;

        transition-property: background;
        transition-duration: .5s;
        transition-timing-function: ease;
    }

/*    .our-partners-slider .btn-partner:link,
    .our-partners-slider .btn-partner:visited {
        background: rgba(0, 0, 0, 0);
    }

    .our-partners-slider .btn-partner:hover {
         background: rgba(0, 0, 0, .6);
    }

    .our-partners-slider .btn-partner.active,
    .our-partners-slider .btn-partner:active {
         background: rgba(0, 0, 0, .9);
    }
*/
    .our-partners-slider .btn-partner:link span,
    .our-partners-slider .btn-partner:visited span {
        background: rgba(255, 255, 255, .7);
    }

    .our-partners-slider .btn-partner:hover span {
        background: rgba(255, 255, 255, 1);
    }

    .our-partners-slider .btn-partner.active span,
    .our-partners-slider .btn-partner:active span {
        background: rgba(255, 255, 255, 1);
    }

    .btn-partner > div {
        position: relative;
        display: block;
        top: 50%;
        z-index: 9;
    }

    .prev-partner > div {
        position: relative;
        top: -10px;
        left: 24%;
    }

    .next-partner > div {
        position: relative;
        top: 4px;
        right: -25%;
    }

    .prev-partner {
        left: 0;
    }

    .next-partner {
        right: 0;
    }

    .our-partners-slider .btn-partner > div span {
        display: block;
        width: 20px;
        height: 2px;
        background:rgba(255, 255, 255, .8);
    }

    .our-partners-slider .prev-partner span:first-child {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: relative;
        top: 16px;
    }

    .our-partners-slider .prev-partner span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .our-partners-slider .next-partner span:first-child {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: relative;
        top: -12px;    
    }

    .our-partners-slider .next-partner span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

/*  /Slider Partners  */

/*  Slider Modal Service  */

    .modal-service-slider-box {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .modal-slide-service .item {
        width: 100%;
        height: auto;
        position: relative;
    }

    .modal-slide-service .slide-description {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .modal-bg {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .8);
    }

    .close-modal-sl {
        display: block;
        position: absolute;
        top: 3%;
        right: 2%;
        width: 50px;
        height: 50px;
        cursor: pointer;
        border: 1px solid transparent;
        background: rgba(0, 0, 0, .4);
        z-index: 10px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
    }

    .close-modal-sl span {
        display: block;
        width: 35px;
        height: 2px;
        background: rgba(255, 255, 255, .7);

        -webkit-transition-property: background;
        -webkit-transition-duration: .3s;
        -webkit-transition-timing-function: ease;

        -moz-transition-property: background;
        -moz-transition-duration: .3s;
        -moz-transition-timing-function: ease;

        -ms-transition-property: background;
        -ms-transition-duration: .3s;
        -ms-transition-timing-function: ease;

        -o-transition-property: background;
        -o-transition-duration: .3s;
        -o-transition-timing-function: ease;

        transition-property: background;
        transition-duration: .3s;
        transition-timing-function: ease;

    }

    .close-modal-sl:link span,
    .close-modal-sl:visited span {
        background: rgba(255, 255, 255, .7);
    }

    .close-modal-sl:hover span {
        background: rgba(255, 255, 255, 1);
    }

    .close-modal-sl:active span {
        background: rgba(255, 255, 255, 1);
    }

    .close-modal-sl span:first-child {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        margin: 2px 0 0 7px;
    }

    .close-modal-sl span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: relative;
        top: -2px;
        left: 7px;
    }

    .center-position-slider {
        display: block;
        width: 70%;
        max-height: 80%;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
    }

    .center-position-slider .btn {
        display: block;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 50%;
        margin: -30px 0 0 0;
        cursor: pointer;
        z-index: 10;
        background: rgba(0, 0, 0, .4);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;

        -webkit-transition-property: background;
        -webkit-transition-duration: .5s;
        -webkit-transition-timing-function: ease;

        -moz-transition-property: background;
        -moz-transition-duration: .5s;
        -moz-transition-timing-function: ease;

        -ms-transition-property: background;
        -ms-transition-duration: .5s;
        -ms-transition-timing-function: ease;

        -o-transition-property: background;
        -o-transition-duration: .5s;
        -o-transition-timing-function: ease;

        transition-property: background;
        transition-duration: .5s;
        transition-timing-function: ease;
    }

    .modal-slide-service .item {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .modal-slide-service .item .slide-description {
        display: block;
        width: 100%;
        height: auto;
        padding: 2% 1%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .6);
    }

    .modal-slide-service .item img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }


    .center-position-slider .prev-mod-slide > div {
         margin: -10px 0 0px 16px;
    }

    .center-position-slider .next-mod-slide > div {
        margin: 4px 0 0 22px;
    }

    .center-position-slider .btn > div span {
        display: block;
        width: 20px;
        height: 2px;
        background:rgba(255, 255, 255, .8);

        -webkit-transition-property: background;
        -webkit-transition-duration: .5s;
        -webkit-transition-timing-function: ease;

        -moz-transition-property: background;
        -moz-transition-duration: .5s;
        -moz-transition-timing-function: ease;

        -ms-transition-property: background;
        -ms-transition-duration: .5s;
        -ms-transition-timing-function: ease;

        -o-transition-property: background;
        -o-transition-duration: .5s;
        -o-transition-timing-function: ease;

        transition-property: background;
        transition-duration: .5s;
        transition-timing-function: ease;
    }

    .center-position-slider .prev-mod-slide span:first-child {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: relative;
        top: 16px;
    }

    .center-position-slider .prev-mod-slide span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .center-position-slider .next-mod-slide span:first-child {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: relative;
        top: -12px;    
    }

    .center-position-slider .next-mod-slide span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .prev-mod-slide {
        left: 0;
    }

    .next-mod-slide {
        right: 0;
    }

    .center-position-slider .btn:link,
    .center-position-slider .btn:visited {
        background: rgba(0, 0, 0, .4);
    }

    .center-position-slider .btn:hover {
        background: rgba(0, 0, 0, .8);
    }

    .center-position-slider .btn.active {
        background: rgba(0, 0, 0, 1);
    }

    .center-position-slider .btn:active {
        background: rgba(0, 0, 0, 1);
    }



    .center-position-slider .btn:link > div span,
    .center-position-slider .btn:visited > div span {
        background: rgba(255, 255, 255 , .8);
    }

    .center-position-slider .btn:hover > div span {
        background: rgba(255, 255, 255 , 1);
    }

    .center-position-slider .btn.active > div span {
        background: rgba(255, 255, 255 , 1);
    }

    .center-position-slider .btn:active > div span {
        background: rgba(255, 255, 255 , 1);
    }

/*  /Slider Modal Service  */

/*/Slide*/



/* ----- /INNER SU PAGE ------ */


/* ----- CONTACTS PAGE ------ */

.page-content.contacts-page {
    width: 100%;
    padding: 30px 0 0 0;
}

.map-box {
    font-size: 0;
    line-height: 0;
    width: 100%;
}

.map-left-col {
    display: block;
    float: left;
    width: 93%;
    text-align: right;
}

.map {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 0 20px 0;
}

.show-map {
    display: block;
    width: 100%;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, .35);
}

.show-map p {
    display: inline-block;
    vertical-align: middle;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
    font-style: italic;
    color: #ffffff;
    padding: 10px 0;
}

.show-map img {
    width: 14px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 3%;
}

.map-btn {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid transparent;
    background: none;
}

.map-btn img {
    display: block;
    width: 100%;
    height: auto;
    opacity: .7;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .5s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .5s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.map-btn img:hover {
    opacity: 1;
}

.map-btn img.map-btn-x {
    display: block;
}

.map-btn img.map-btn-x-320 {
    display: none;
    opacity: 1;
}

.map-box .left-col,
.map-box .right-col {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: left;
}

.contacts-box {
    padding: 40px 0 0 0;
}

.map-box h2 {
    font-family: "Circe Bold", Arial, Verdana, sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 0 5px 0;
}

.map-box p,
.map-box ul li a {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
}

.map-box ul {
    padding: 0;
}

.map-box ul li:before {
    display: none;
}

.map-box ul li {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
    list-style: none;
}

.map-box ul li a {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: underline;
    margin: 0 0 0 1%;
}

.map-box ul li a:link,
.map-box ul li a:visited {
    text-decoration: underline;
}

.map-box ul li a:hover {
    text-decoration: none;
}

.map-box ul li a:active {
    text-decoration: none;
}

.map-box {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#map {
    display: block;
    width: 100%;
    height: 570px;
}

.arrow-map {
    -webkit-transition-property: transform;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.arrow-map.up {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.show-map {
    display: none;
}

.map-right-col {
    display: block;
    float: right;
    width: 7%;
}


/* ----- /CCONTACTS PAGE ------ */


/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/


.footer {
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
    padding: 15px 0;
}

.footer-col-left {
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

.copy-p {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
}

