@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/


@font-face {
    font-family: "Circe Extra";
    src: url("fonts/Circe-ExtraBold.eot");
    src: url("fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Circe-ExtraBold.woff2") format("woff2"),
        url("fonts/Circe-ExtraBold.woff") format("woff"),
        url("fonts/Circe-ExtraBold.ttf") format("truetype"),
        url("fonts/Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Circe Extra";
    src: url("fonts/Circe-ExtraLight.eot");
    src: url("fonts/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"),
        url("fonts/Circe-ExtraLight.woff2") format("woff2"),
        url("fonts/Circe-ExtraLight.woff") format("woff"),
        url("fonts/Circe-ExtraLight.ttf") format("truetype"),
        url("fonts/Circe-ExtraLight.svg#Circe-ExtraLight") format("svg");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("fonts/Circe-Bold.eot");
    src: url("fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Circe-Bold.woff2") format("woff2"),
        url("fonts/Circe-Bold.woff") format("woff"),
        url("fonts/Circe-Bold.ttf") format("truetype"),
        url("fonts/Circe-Bold.svg#Circe-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("fonts/Circe-Light.eot");
    src: url("fonts/Circe-Light.eot?#iefix") format("embedded-opentype"),
        url("fonts/Circe-Light.woff2") format("woff2"),
        url("fonts/Circe-Light.woff") format("woff"),
        url("fonts/Circe-Light.ttf") format("truetype"),
        url("fonts/Circe-Light.svg#Circe-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("fonts/Circe-Regular.eot");
    src: url("fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/Circe-Regular.woff2") format("woff2"),
        url("fonts/Circe-Regular.woff") format("woff"),
        url("fonts/Circe-Regular.ttf") format("truetype"),
        url("fonts/Circe-Regular.svg#Circe-Regular") format("svg");
    font-weight: 400;
    font-style: normal;
}


/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: rgba(205, 149, 68, 1);
    color: #000000;
    font-family: Arial, Verdana, sans-serif;
    font-size: 13px;
    line-height: 21px;
}

html,
body {
    height: 100%;
    min-width: 100%;
    /*background-color: rgba(205, 149, 68, 1);*/
}

.wrapper {
    display: table; 
    height: 100%;
    min-width: 100%;
/*    background-image: url(img/index_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/

    background: -moz-linear-gradient(left,  rgba(131,131,133,0.8) 0%, rgba(156,137,114,0.8) 13%, rgba(192,149,85,0.8) 30%, rgba(224,159,61,0.8) 63%, rgba(253,167,38,0.8) 100%);
    background: -webkit-linear-gradient(left,  rgba(131,131,133,0.8) 0%,rgba(156,137,114,0.8) 13%,rgba(192,149,85,0.8) 30%,rgba(224,159,61,0.8) 63%,rgba(253,167,38,0.8) 100%);
    background: linear-gradient(to right,  rgba(131,131,133,0.8) 0%,rgba(156,137,114,0.8) 13%,rgba(192,149,85,0.8) 30%,rgba(224,159,61,0.8) 63%,rgba(253,167,38,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc838385', endColorstr='#ccfda726',GradientType=1 );

}

/*------------------*/

.wrapper:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
/*    background: -moz-linear-gradient(left,  rgba(131,131,133,0.8) 0%, rgba(156,137,114,0.8) 13%, rgba(192,149,85,0.8) 30%, rgba(224,159,61,0.8) 63%, rgba(253,167,38,0.8) 100%);
    background: -webkit-linear-gradient(left,  rgba(131,131,133,0.8) 0%,rgba(156,137,114,0.8) 13%,rgba(192,149,85,0.8) 30%,rgba(224,159,61,0.8) 63%,rgba(253,167,38,0.8) 100%);
    background: linear-gradient(to right,  rgba(131,131,133,0.8) 0%,rgba(156,137,114,0.8) 13%,rgba(192,149,85,0.8) 30%,rgba(224,159,61,0.8) 63%,rgba(253,167,38,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc838385', endColorstr='#ccfda726',GradientType=1 );
*/

    background-image: url(img/index_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*------------------*/

.content {
    position: relative;
    display: table-row;
    height: 100%;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }



::-webkit-input-placeholder {color:#ffffff;}
::-moz-placeholder          {color:#ffffff;}/* Firefox 19+ */
:-moz-placeholder           {color:#ffffff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#ffffff;}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}


/*.animation-delay {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
}*/


/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

.header,
.content {
    position: relative;
    z-index: 3;
}

section {
    position: relative;
}

h1 {

}

button {

}

h2 {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700px;
    color: #ffffff;
    text-transform: uppercase;
}

p {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700px;
    color: #ffffff;
    padding: 25px 0;
}

li {
    list-style: none;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400px;
    color: #ffffff;
    padding: 3px 0;
}

li:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 7px;
    height: 1px;
    background: rgba(255, 255, 255, 1);
    margin: 0 1% 0 0;
}

a {
    text-decoration: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}
/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    display: block;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

*:focus {
    outline: none;
}

select::-ms-expand {
  display: none;
}


/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header {
    background-color: rgba(255, 255, 255, 1);
    font-size: 0;
    line-height: 0;
    padding: 20px 0;}

.header-left-col {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.logo-box {
    display: table;
}

.logo {
    display: table-cell;
}


.logo-link {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.logo-img {
    display: block;
    width: 100%;
    height: auto;
}

.main-h-box {
    display: table-cell;
    padding: 0 0 0 5%;
}

.main-h-box h1 {
    display: inline-block;
    vertical-align: top;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 25px;
    font-weight: 400px;
    color: #b1b1b1;
    text-transform: uppercase;
}

.header-right-col {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: right;
}

.contacts-list {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: right;
}

.contacts {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1% 0 0;
}

.contacts li:before {
    display: none;
}

.contact-item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1%;
    text-align: center;
}

.contact-link {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin: 0 auto;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400px;
    color: #b1b1b1;
    text-decoration: underline;
}

.tel-link {
    font-size: 14px;
    line-height: 25px;
    margin: 2px 0 0 0;
}

.mail-link {
    font-size: 16px;
    line-height: 25px;
}

.map-link-box {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1%;
    border-left: 1px solid #b1b1b1;
}

.map-link {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400px;
    color: #b1b1b1;
    text-decoration: underline;
}

.page-name {
    display: block;
    text-align: right;
}

.page-name h2 {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700px;
    color: #b1b1b1;
    text-transform: uppercase;
    margin: 10px 0 5px 0;
}


/* ----- Responsive Menu Button ------ */

.respmenubtn-box {
    display: none;
    text-align: right;
}

.respmenubtn {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}

.respmenubtn span {
    display: block;
    width: 20px;
    height: 4px;
    border: 1px solid #9e8587;
    background: rgba(158, 133, 135, 1);
    margin: 0 0 4px 0;

    -webkit-transition-property: border transform;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border transform;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border transform;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border transform;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: border transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.respmenubtn span:last-child {
    margin: 0;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn:hover span {
    border: 1px solid #eca536;
    background: rgba(236, 165, 54, 1);
}

.respmenubtn-active span respmenubtn-box
    width: 30px;
    border: 1px solid #eca536;
    background: rgba(236, 165, 54, 1);
}

.respmenubtn-active span:last-child {
    display: none;
}

.respmenubtn-active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 5px 0 0 0;
}

.respmenubtn-active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: -2px;
}



/* ----- / Responsive Menu Button ------ */

/* ----- Responsive Contacts ------ */

.contacts-responsive {
    display: none;
    text-align: center;
    padding: 5px 0;
}

.contact-item:before {
    display: none;
}

.contacts-responsive .contact-link {
    color: #ffffff;
    margin: 5px 0;
    text-decoration: none;
}

.contacts-responsive:after {
    display: block;
    content: "";
    width: 90%;
    height: 1px;
    position: relative;
    margin: 0 auto;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 31%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 69%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.9) 69%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.9) 69%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}


/* ----- /Responsive Contacts ------ */

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

.content {
    position: relative;
    z-index: 2;
}

/* ----- BREAD CRUMBS ------ */

.bread-crumbs-section {
    width: 100%;
    padding: 60px 0 10px 0;
}

.bread-crumbs-list {

}

.bread-crumb-item {
    display: inline-block;
    vertical-align: top;
    padding: 0 13px 0 0;
    list-style: none;
}

.bread-crumb-item:before {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    background: none;
    content: "/";
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 17px;
    font-weight: 400px;
    color: #ffffff;
    padding: 0 13px 0 0;
}

.bread-crumb-item:first-child:before {
    display: none;
}

.bread-crumb-item a {
    display: inline-block;
    vertical-align: top;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 17px;
    font-weight: 400px;
    color: #ffffff;
}


/* ----- PAGE CONTENT ------ */

.page-content {
    float: left;
    width: 60%;
    margin: 0 0 30px 0;
    padding: 0 7% 0 0;
}

.page-h {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 43px;
    line-height: 53px;
    font-weight: 700px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 0;
}




.cards-secion {
    font-size: 0;
    line-height: 0;
}

.card-box {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    margin: 10px 0;
    padding: 2%;
    max-height: 165px;
}

.card {

}

.card-img-box {
    display: block;
    max-height: 130px;
    border: 1px solid #d2b4ac;
    background: transparent;
    padding: 23px 2px;
    text-align: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;

    -webkit-transition-property: background;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease;

}


.card-img-box:link,
.card-img-box:visited {
    background: transparent;
}

.card-img-box:hover {
    background: rgba(254, 150, 34, .7);
}

.card-img-box:active {
    background: rgba(254, 150, 34, .9);
}

.card-img-box img {
    display: block;
    height: 80px;
    width: auto;
    margin: 0 auto;
}

.card-h {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400px;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}




/* ----- /PAGE CONTENT ------ */

/* ----- NAVIGATION ------ */

.menu-section {
    float: right;
    width: 40%;
    text-align: right;
    padding: 20px 0 0 0;
}

.menu-section ul {
    font-size: 0;
    line-height: 0;
}

.center-position {    
    display: block;
    width: 70%;
    float: none;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0;
}

.menu-section:before,
.menu-section:after {
    display: block;
    content: "";
    width: 50%;
    height: 1px;
    float: right;

    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 31%, rgba(255,255,255,0.95) 50%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.95) 50%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.95) 50%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );

}

.menu-section.center-position:before,
.menu-section.center-position:after {
    display: block;
    content: "";
    width: 50%;
    height: 1px;
    float: none;
    margin: 0 auto;

    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 31%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 69%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.9) 69%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.9) 69%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );

}

.nav-item {
    display: block;
    width: 100%;
    text-align: right;
    position: relative;
}

.center-position .nav-item {
    text-align: center;
}

.nav-item:after {
    display: block;
    content: "";
    width: 50%;
    height: 1px;

    /*-----*/
    position: absolute;
    right: 0;
    /*-----*/
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 31%, rgba(255,255,255,0.95) 50%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.95) 50%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.95) 50%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

.center-position .nav-item:after {
    width: 90%;
    position: relative;
    margin: 0 auto;

    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 31%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 69%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.9) 69%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 31%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.9) 69%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}


.nav-item:last-child:after {
    display: none;
}

.menu-section li:before {
    display: none;
}

.link-h-desc {
    display: block;
    width: 60%;
    font-family: "Circe Extra", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 200px;
    color: #ffffff;
    margin: 0 auto;
}

.link-h {
    display: inline-block;
    vertical-align: top;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700px;
    color: #ffffff;
    margin: 40px 0 35px 0;
    text-transform: uppercase;
}

.link-h-1 {
    display: inline-block;
    vertical-align: top;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700px;
    color: #ffffff;
    text-transform: uppercase;
}

.link-h-2 {
    display: inline-block;
    vertical-align: top;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400px;
    color: #ffffff;
    margin: 25px 0 10px 0;
}


.nav-item a {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400px;
    color: #ffffff;
}

.inner-nav {
    display: block;
    height: 0;
    overflow: hidden;



/*
    -webkit-transition-property: height;
    -webkit-transition-duration: 3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: height;
    -moz-transition-duration: 3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: height;
    -ms-transition-duration: 3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: height;
    -o-transition-duration: 3s;
    -o-transition-timing-function: ease;

    transition-property: height;
    transition-duration: 3s;
    transition-timing-function: ease;*/

}

/*.inner-nav-height {
    height: auto;
}*/

/* ----- / NAVIGATION ------ */


/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/


footer {
    
}

.footer {
    position: relative;
    z-index: 2;
    padding: 15px 0;
}

.footer-col-left {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.copy-p {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}
